body{
  font-family: Helvetica, Arial, sans-serif;
  background-color: #eee;
  margin: 10% 20%;
  text-shadow: 1px 1px 0 #fff;
}

@font-face{
  font-family: lobster;
  src: url('../fonts/lobster.ttf');
}

h1{
  font-family: lobster;
  font-size: 6em;
  margin-bottom: .2em;
  color: #333;

}
#subheader{
  margin-top:-64pt;
}
h1 a{
  text-decoration: none;
  font-weight: bold;
  color: #333;
}

h1 a:hover{
  text-decoration: none;
  color: #555;
}

a{
  color: #000;
}
.avatar img{
  width:140px;
  height:140px;
  border-radius: 5px; 
}

.image-block { width:78px; margin:0px 10px; float:left; } 
.reflection { position:relative; } 
.reflection img { 
    -webkit-transform: scaleY(-1); 
       -moz-transform: scaleY(-1); 
        -ms-transform: scaleY(-1); 
         -o-transform: scaleY(-1); 
            transform: scaleY(-1); 
    filter: flipv; opacity:0.20; 
    filter: alpha(opacity='20'); 
} 
.overlay { position:absolute; top:0px; left:0px; width:78px; height:120px; 
    background-image: -moz-linear-gradient( center bottom, rgb(255,255,255) 60%, rgba(255,255,255,0) 75%); 
    background-image:   -o-linear-gradient( rgba(255,255,255,0) 25%, rgb(255,255,255) 40%); 
    background-image:     -webkit-gradient( linear, left bottom, left top, color-stop(0.60, rgb(255,255,255)), color-stop(0.75, rgba(255,255,255,0))); 
    filter: progid:DXImageTransform.Microsoft.Gradient( gradientType=0, startColor=0, EndColorStr=#ffffff); 
} 

.test{
  font-family: cursive;
}

#subheader p{
  color: #555;
  font-size: 1.1em;
  font-weight: bold;
  padding-left: 34px;
}
#content{
  padding: 3em 8px;
  font-size: 1.25em;
  font-family: Georgia, serif;
}
#footer{
  margin-top: 5em;
  font-family: Georgia, serif;
  font-size: .9em;
  color: #999;
}
#start{
  font-size: 2em;
}
#nav{
  margin-left: -2.5em;
}
#nav a{
  color: #555;
  font-size: 1.1em;
  font-weight: bold;
  padding-left: 34px;
  text-decoration: none;
}
#nav a:hover{
  color: #000;
}
#nav li{
  display: inline;
}

#carousel-img{
  height: 400px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  vertical-align: middle;
}

.carousel-caption p{
  font-family: lobster;
  font-size: 12pt;
  color:#FFF;
  text-shadow: none;
}

.carousel-caption a{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10pt;
  color: #ddd;
}

.carousel-caption a:hover{
  text-decoration: none;
  color: #aaa;
}

form{
}
form div{
  float: right;
}
input{
  display: block;
  font-size: 2em;
  width: 100%;
}
input[type=submit]{
  font-size: 1.25em;
  width: inherit;
}
.id-info{
  font-size: .75em;
  font-color: #999;
}
